@import "https://uamediaprod.github.io/uoa-styles/assets/theme.css";

@font-face {
  font-family: "Made Evolve Sans";
  src: url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff2"), url("./fonts/made_evolve_sans_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

#app {
  font-family: 'Made Evolve Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #102535;
  font-size: 1em;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.05;
  margin: 1rem 0 0.694rem;
  letter-spacing: 0.05rem;
}

html, body{
  overflow-y: hidden;
}

